@charset "utf-8";
/* CSS Document */

	body {
    	font-family: SourceHanSansCN-Normal, Helvetica, Verdana, sans-serif;
		height: 100%;
	}
	    .sq {
	margin-top: 18px;
	}
.wei {
	padding-top: 0px;
	position: relative;


}
